@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Montserrat:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
}


html, body{
    scroll-behavior: smooth;
    width: 100%;
    overflow-x: hidden;
}
                           /* header */

header{
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)) ,url(images/bg.jpg);
    background-size: cover;
    background-position: center;
    height: 50vh;
    width: 100%;
    position: relative;
}

nav{
    display: flex;
    padding: 2% 4%;
    justify-content: space-between;
    align-items: center;
}

.nav-links{
   text-align: right;
   flex: 1;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin: 0 0.5rem;
    color: white;
    font-size: 0.8rem;
    font-family: 'Montserrat', sans-serif;
    opacity: 0.9;
    text-align: center;
    background-color: #fa191900;
    padding: 0.5rem;
    border-radius: 1rem;
    cursor: pointer;
}

nav ul li:hover{
    background-color: #fa1919;
    transition: 0.5s;
}

nav .fas{
    display: none;
}

ul li a{
    text-decoration: none;
    color: white;
}

.logo{
    display: flex;
}

.logo img{
    width: 3rem;
    height: 3rem;
}

.logo h3{
    margin: 0.8rem;
    color: white;
    font-family: 'Montserrat', sans-serif;
}
    
/* text-box */

#text-box{
   text-align: center;
   /* padding: 20vh 0; */
   position: absolute;
   top: 50%;
   left: 50%;
   width: 90%;
   transform: translate(-50%,-50%);
}

#text-box h1{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    letter-spacing: 1px;
}

h2{
    color: white;
    font-family: 'Montserrat', sans-serif;
    margin: 0.5rem;
}

h3{
    font-size: 2.2rem;
    font-family: 'Montserrat', sans-serif;
    color: black;
}

h4{
    font-size: 1.3rem;
    margin-bottom: 1rem;
    font-family: 'Montserrat', sans-serif;
}

p{
    font-family: 'Montserrat', sans-serif;
    margin: 2rem 0;
    font-size: 0.8rem;
    opacity: 0.8;
}

                       /* course */

  #course{
    text-align: center;
    margin: auto;
    width: 85%;
    font-family: 'Montserrat', sans-serif;
    padding-top: 5rem;
}

h2{
    color: white;
    font-family: 'Montserrat', sans-serif;
    margin: 0.5rem;
}

h3{
    font-size: 2.2rem;
}

h4{
    font-size: 1.3rem;
    margin: 0.5rem;
    font-family: 'Montserrat', sans-serif;
}

p{
    font-family: 'Montserrat', sans-serif;
    margin: 0.5rem 1rem;
    font-size: 0.8rem;
    opacity: 0.8;
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4%;
}

.course-col{
    border-radius: 0.5rem;
    margin-bottom: 5%;
    background-color: rgb(253, 234, 234);
    padding: 1.5rem;
    cursor: pointer;
    box-sizing: border-box;
    flex-basis: 32%;
}

.course-col:hover{
    box-shadow: 10px 10px 10px grey;
    transition: 0.3s;
}

                            /* campus */

#campus{
    text-align: center;
    margin: auto;
    width: 80%;
    font-family: 'Montserrat', sans-serif;
    padding-top: 2rem;
}

.campus-col{
    margin: 0.5rem;
    position: relative;
    box-sizing: border-box;
    flex-basis: 31%;
}

.campus-col img{
    width: 21rem;
    height: 28rem;
    border-radius: 0.5rem;
}

.layer{
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(226, 0, 0, 0.75);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    opacity: 0;
    transition: 0.5s;
}

.layer:hover{
    opacity: 1;
}

.layer h3{
    transform: translateY(200px);
    transition: 0.5s;
    color: white;
    font-size: 1.6rem;
}

.layer:hover h3{
    transform: translateY(0);
}
  
                           /* facilities */

#facilities{
    text-align: center;
    margin: auto;
    width: 90%;
    font-family: 'Montserrat', sans-serif;
    padding-top: 6%;
}

.facilities-col{
    margin: 1rem;
    position: relative;
    box-sizing: border-box;
    flex-basis: 31%;
}

.facilities-col img{
    width: 23rem;
    height: 15rem;
    border-radius: 0.5rem;
}

.info{
    margin-top: 1rem;
}

                          /* testimonials */

#testimonials{
    text-align: center;
    margin: auto;
    width: 85%;
    font-family: 'Montserrat', sans-serif;
    padding-top: 5%;
}

.testimonials-col{
    box-sizing: border-box;
    flex-basis: 48%;
    margin: 0.5rem;
    background-color: rgb(253, 234, 234);
    padding: 1.5rem;
    text-align: left;
    cursor: pointer;
    display: flex;
    border-radius: 0.5rem;
}

.testimonials-col img{
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    margin-right: 2rem;
}

i{
    color: #fa1919;
}

                        /* footer */

  footer{
    text-align: center;
    width: 70%;
    margin: 4rem auto;
}

footer #ico{
    color: #fa1919;
    font-size: 1.8rem;
    text-decoration: none;
    padding: 0.5rem 0.6rem;
}

i{
    color: #fa1919;
}

